<nav class="navbar navbar-dark" id="navbar">
  <a class="navbar-brand" id="navbartext" (click)="reset()">Tip Calculator</a>
</nav>

<form>
  <div *ngIf="validSplit && result!=''" class="result">
    Result : {{result | number : '1.0-2' }} each !!
  </div>
  <div class="form-group">
    <label for="totalBill">Total Bill Amount :</label>
    <input type="number" name="totalBill" [(ngModel)]="selectedInstance.totalBill" min=0 class="form-control"
      id="totalBill" placeholder="Enter your Bill Amount" (change)="validate()">
    <div *ngIf="!validBill">
      <small id="billHelp" class="form-text text-muted">Fun Fact : Women Tip Higher than Men.</small><br>
      <small id="billHelp" class="form-text text-muted">If you're a Man, let's prove this is rather a
        stereotype.</small><br>
      <small id="billHelp" class="form-text text-muted">If you're a Woman, certainly the fact sustains.</small>
    </div>
  </div>
  <div class="form-group" *ngIf="validBill">
    <label for="satisfaction">Satisfaction Score :</label>
    <ng-select name="satisfaction" [items]="satisfaction" bindLabel="text" bindValue="percent"
      [(ngModel)]="selectedInstance.satisfactionPercent" (change)="validate()" dropdownPosition="bottom">
    </ng-select>
  </div>
  <div class="form-group" *ngIf="validSatisfaction">
    <label for="split">Splitting between :</label>
    <input class="form-control" type="number" name="split" [(ngModel)]="selectedInstance.split" (change)="validate()"
      min=1>
  </div>
  <div *ngIf="validSplit">
    <button class="btn" id="btn" (click)="calculate()">Calculate!</button>
    &nbsp;
    <button class="btn" id="btn" (click)="reset()">Reset!</button>
  </div>

</form>

<div class="center" *ngIf="validSplit">
  Created with &#10084; by Swadesh </div>